.AboutUrolog{
    .text2{
        color:white;
        
    }
}
.feedback_div{
    color: white;
     text-align: center;
     align-items: center;
      border: 1px solid #d3bb7e; 
      border-radius: 10px;
      padding: 10px;
 }