.maindental{
    .help {
        color: white;
        background-color: #060608;
        border: 1px solid #c2b285;
        // height: 200px;
        // padding: 30px;
        transition: 0.7s;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
      }
      
      .help:hover {
        color: #060608;
        background-color: #c2b285;
      }
      .carousel-indicators{
        display: none;
      }
      .accordion-body{
        background: #000;
      }
      $accordion-bg: black;
      $accordion-button-active-bg: black;
      $accordion-color: white;
      $accordion-button-active-color: #d3bb7e;
      $accordion-icon-color:    white;
      $accordion-border-color: #d3bb7e;
      
      $font-family-base: 'Philosopher', sans-serif;
      $font-family-sans-serif: 'Philosopher', sans-serif;
          

}
