@media screen and (max-width: 800px) {
  img {
    width: 314px;
  }
}
@media screen and (min-width: 1250px) {
  img {
    width: 100%;
  }
}

  
  
  
h1{
    color: #d3bb7e;
    font-family:  Arial sans-serif;
    margin-bottom: 100px;
}
.div_a {
    width: 250px;
    height: 50px;
    color: black;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 50px;
    background-position: center;
    position: center;
    border-color: #d3bb7e;
    background:#d3bb7e;
    border-style: solid;
    display: flex;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.phone_item{
    width: 250px;
    height: 50px;
    color: #060608;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    // border-width: 2px;
    border-radius: 0;
    background-color: #d3bb7e;
    background-position: center center;
    position: center;
    border-color: #d3bb7e;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s
   ease-in-out, border-color 0.2s ease-in-out;

}
.carousel-indicators{
    display: none;
  }
  


$accordion-bg: black;
$accordion-button-active-bg: black;
$accordion-color: white;
$accordion-button-active-color: #d3bb7e;
$accordion-icon-color:    white;
$accordion-border-color: #d3bb7e;

$font-family-base: 'Philosopher', sans-serif;
$font-family-sans-serif: 'Philosopher', sans-serif;

@import "~bootstrap/scss/bootstrap";
