.textinfooter{
    color: #d3bb7e;
    font-size: 20px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.7;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }
  
  .textinfooter2{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
  }
  .div__a {
    width: 250px;
    height: 50px;
    color: white;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 50px;
    background-position: center;
    position: center;
    border-color: #d3bb7e;
    border-style: solid;
    display: flex;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

}
a{
  text-decoration: none;
}