.textinfooter{
  
    color: #d3bb7e;
    font-size: 20px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.7;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
  }
  
  .textinfooter2{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'GraphikTT',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
  }