.mainContainers{
    .header_banner{
        background-image: url('https://png.pngtree.com/png-clipart/20190228/ourmid/pngtree-shapes-with-geometric-minimal-rectangle-white-background-png-image_710300.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
   a{
    text-decoration: none;
    //color: #d7a21b;
    color: #d3bb7e;
   }

  .images_item{
    width: 90%;
    height: 232px;
    flex-shrink: 0;

  }
  .carousel-indicators{
    display: none;
  }

  .feedback_div{
     color: white;
      text-align: center;
      align-items: center;
       border: 1px solid #d3bb7e; 
       border-radius: 10px;
       padding: 10px;
  }
}