.mainContainers{
    .header_banner{
        background-image: url('https://png.pngtree.com/png-clipart/20190228/ourmid/pngtree-shapes-with-geometric-minimal-rectangle-white-background-png-image_710300.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
   a{
    text-decoration: none;
    color: #d7a21b;
    color: #d3bb7e;
   }
  .images_item{
    height: 200px;
  }
}