.mainContainers{
    
    .header_banner{
        background-image: url('https://thumbs.dreamstime.com/b/doctor-man-stethoscope-hospital-84232406.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
   a{
    text-decoration: none;
    color: #d7a21b;
   }
  .images_item{
    height: 200px;
  }
}